<!DOCTTYPE html>
<html>
<head>
    <title></title>
    <base href="/" />
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <header class="container">

    </header>
    <section class="container">
        @RenderBody()
    </section>
    <footer class="container"></footer>
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
